<%= form_for @recipe, :html => { :class => "form-horizontal recipe" , :multipart => true } do |f| %>
<link type="text/css" rel="stylesheet" href="style.css" media="screen">
    <% if @recipe.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:name]) %>
  </div>
  <div class="control-group">
    <%= f.label :serving, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :serving, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:serving]) %>
  </div>
  <div class="control-group">
    <%= f.label :item, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :item, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:item]) %>
  </div>
  <div class="control-group">
    <%= f.label :instructions, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :instructions, :class => 'form-control' %>
    </div>
    <%= error_span(@recipe[:instructions]) %>
  </div>

<div class="control-group">
    <%= f.label :tag, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :tag, :class => 'form-control' %>
    </div>
<%= error_span(@recipe[:tag]) %>
  </div>
	<div class="field">
		<%= f.label :image %> <br />
		<%= f.file_field :image %> 
	</div>

  <div style="padding-top: 25px">
     <%= f.submit nil, :class => 'btn btn-primary' %>
     <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
               recipes_path, :class => 'btn btn-default' %>
  </div>
<% end %>
